.detail-img {
    max-width: 32%;  /* Ensure the image doesn't overflow the container */
    height: auto;    /* Maintain the aspect ratio */
    display: inline;  /* Center the image */
    margin: 0 auto;  /* Center the image horizontally */
  }
  