<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
        <p-table [value]="orders" [tableStyle]="{ 'min-width': '50%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Order Tracking Number</th>
                    <th>Total Price</th>
                    <th>Total Quantity</th>
                    <th>Date</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                @for(order of orders; track order.id){
                    <tr>
                        <td>{{order.orderTrackingNumber }}</td>
                        <td>{{ order.totalPrice | currency}}</td>
                        <td>{{ order.totalQuantity }}</td>
                        <td>{{ order.dateCreated }}</td>
                        
                    </tr>
                }
                
            </ng-template>
        </p-table>
      
    </div>
  </div>
</div>

